@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <a class="btn btn-info m-150" asp-controller="Agenda" asp-action="Index">Acessar agenda</a>
</div>
